@import 'bootstrap/dist/css/bootstrap.min.css';
html body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(228, 224, 224);
}
header {
    height: 70px;
    background-color: #cf2c3a;
    width: 100%;
    color: white;
    padding-inline: 40px;
    display: flex;
    align-items: center;
}
nav {
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    float: left;
    margin: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
section.wrapper {
    padding-inline: 40px;
    margin-top: 20px;
}
